<div class="page row" ng-controller="gridsController">
	<div class="row">
		<div class="col-sm-3">
			<h2>Our Mission</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
		I'll click on this tab and it gives you a little sort of grid of the different DOM elements and 
		how this particular class is being controlled by the margins and paddings. Actually, we're in the 
		wrong place in the DOM. We're in the Our Mission section. I'm going to click on this peach row 
		div and you'll see that it's subtracting 15 pixels from the edge of the screen. Actually it's 
		moved everything down a little bit so you can see here that this Our Mission is actually
		 subtracted a little bit of the padding that gets added whenever you click on one of these other classes.
		 </div>
		 
		<div class="col-sm-5">
		I'll click on this tab and it gives you a little sort of grid of the different DOM elements and 
		how this particular class is being controlled by the margins and paddings. Actually, we're in the 
		wrong place in the DOM. We're in the Our Mission section. I'm going to click on this peach row 
		div and you'll see that it's subtracting 15 pixels from the edge of the screen. Actually it's 
		moved everything down a little bit so you can see here that this Our Mission is actually
		 subtracted a little bit of the padding that gets added whenever you click on one of these other classes.
		 </div>
	 </div>
	 
</div>